
		@import url(
'https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

		/* First make all margin and padding 0 */
		/* * {
			margin: 0px;
			padding: 0px;
			background-color: rgb(19, 6, 6);
		} */

		/* Second work on image*/
		header img {
			display: block;
			height: 84px;
			cursor: pointer;
			margin-right: auto;
            margin-left: -25px;
            margin-bottom: -7px;
		}

		/* Changes the styling of links if necessary */
		li,
		a,
		.get-relief {
			font-family: "Montserrat", sans-serif;
            font-size: 16px;
            font-weight:bold;
			color: whitesmoke;
			text-decoration: none;
		}

		/* Now start positioning the links and images
		according to your convinence */
		header {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			padding: 20px 10%;
            background-color: white;
		}

		.navigate_links {
			list-style: none;
            margin-top: auto;
            text-decoration:none !important;
		}

		.navigate_links li {
			display: inline-block;
			padding: 10px 15px;
            margin-left: 20px;
		}

		.navigate_links li a {
			transition: all 0.3s ease-in-out 0s;
            color: #C4C4C4;
		}

		/* Add some transition to make navigation
		bar attractive */
		.navigate_links li a:hover {
			color: #FF1616;
			border: 2px solid #C4C4C4;
			box-shadow: 3px 3px 3px #FF1616, 3px 3px 3px #FF1616;
			border-radius: 8px;
			margin: 10px;
			padding: 10px;
		}

		.get-relief  {
			margin-left: 70px;
            margin-top: -5px;
			padding: 9px 12px;
			border-radius: 14px;
			background-color: #FF1616;
			color: white;
			border: none;
			cursor: pointer;
			transition: all 0.3s ease-in-out 0s;
            
		}

		.get-relief:hover {
			background-color: #C4C4C4;
			color: #FF1616;
		}

        @media screen and (max-width: 600px) {
            .topnav a, .signin {
            float: none;
            display: block;
        }

        .navigate_links a {
            position: relative;
            top: 0;
            left: 0;
            transform: none;
        }
    }

.header{
  padding: 60px;
  text-align: center;
  background: #1A5499;
  color: white;
  font-size: 30px;
}

.row{
    margin: 100px;
}

.col-xs-4{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 10px 10px 30px 0px #DDE0E980;
    text-align:left;
}

.col-xs-4 img{
    width: 317px; height: 300px;
    margin: 20px;
}

.col-xs-4 h4{
    color:#1F2B6C;
    font-size:24px;
    padding-left:25px;
}

.col-xs-4 p{
    color: #FF1616;
    padding-left:25px;
}

.learnMore{
    color:#1564FF;
    text-decoration: none;
    padding-left:25px;
    /* margin-top: 150px; */
}

.footer{
    background-color:#FF1616;
    color:white;
    padding: 0.1px;

}

.footer ul{
    list-style: none;
    padding-left:0;
}

.footer a{
    text-decoration:none;
    color:white;
}

.nav__ul{
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: justify;

}

.inputfield{
    width: 100%;
}

.social-media{
    margin:0px auto 0 auto;
    display: flex;
    align-items: left;
    justify-items: left;
}

.social_footer_ul a{
    /* float:left; */
    border:1px solid #CCC;
    padding:8px;
    border-radius:50%;
    border-color:white;
    background-color:white;
}

.social_footer_ul li i { 
    width:20px; 
    height:20px; 
    text-align:center;
    color:#FF1616;

}

.social_footer_ul li { 
    padding-left:20px;
    padding-top:10px; 
    float:left; }

/* .col-md-4 div:hover {
    background-color: red;
    transition: all 0.7s; */

/* .card-text{

} */