.nav{
    position: sticky;
    overflow:hidden;
    /* margin-top:50px; */
    background-color: #ffffff;
    /* z-index: 9; */

}

.logo{
    /* float:left; */
    margin-left: 35px;
    /* width: 50px;
    height: 100px;  */
    /* color: #42413d; */
    /* /* font: normal 20px "Open Sans", cursive; */
    cursor: pointer;
}

.nav img{
    width:200px;
    height:100px;
}

.nav a{
    float: left;
    color: #C4C4C4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight:bold;
}

.nav-link:hover{
    opacity: 1;
}

.navmenu{
    float: none;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%); 
  }

.right{
    float:right;
    position: relative;
    margin-right: 4em;  
    margin-top:7px;
}

.get-relief{
    background-color:#FF1616;
    padding:3px;
    text-align: center;
    max-width: 90px;
    /* border: 10px; */
    border-radius: 20px;
    justify-content:center;
    display:flex-inline;    
}

.banner{
  background-image:url('Assets/Doctor 1.png');
  height: 100vh;
  /* background-color: rgba(0, 0, 0, 0.6); */
  /* width:80%; */
  background-repeat: no-repeat;
  background-size:100% 70%;
  margin-bottom: 150px;
  margin-top:20px;
}

.footer{
    background-color:#FF1616;
    color:white;
    padding: 70px;

}

.footer ul{
    list-style: none;
    padding-left:0;
}

.footer a{
    text-decoration:none;
    color:white;
}

.nav__ul{
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: justify;

}

.inputfield{
    width: 100%;
}

.social-media{
    margin:0px auto 0 auto;
    display: flex;
    align-items: left;
    justify-items: left;
}

.social_footer_ul a{
    /* float:left; */
    border:1px solid #CCC;
    padding:8px;
    border-radius:50%;
    border-color:white;
    background-color:white;
}

.social_footer_ul li i { 
    width:20px; 
    height:20px; 
    text-align:center;
    color:#FF1616;

}

.social_footer_ul li { 
    padding-left:20px;
    padding-top:10px; 
    float:left; }
