
		@import url(
'https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

		/* First make all margin and padding 0 */
		/* * {
			margin: 0px;
			padding: 0px;
			background-color: rgb(19, 6, 6);
		} */

		/* Second work on image*/
		header img {
			display: block;
			height: 84px;
			cursor: pointer;
			margin-right: auto;
            margin-left: -25px;
            margin-bottom: -7px;
		}

		/* Changes the styling of links if necessary */
		li,
		a,
		.get-relief {
			font-family: "Montserrat", sans-serif;
            font-size: 16px;
            font-weight:bold;
			color: whitesmoke;
			text-decoration: none;
		}

		/* Now start positioning the links and images
		according to your convinence */
		header {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			padding: 20px 10%;
            background-color: white;
		}

		.navigate_links {
			list-style: none;
            margin-top: auto;
            text-decoration:none !important;
		}

		.navigate_links li {
			display: inline-block;
			padding: 10px 15px;
            margin-left: 20px;
		}

		.navigate_links li a {
			transition: all 0.3s ease-in-out 0s;
            color: #C4C4C4;
		}

		/* Add some transition to make navigation
		bar attractive */
		.navigate_links li a:hover {
			color: #FF1616;
			border: 2px solid #C4C4C4;
			box-shadow: 3px 3px 3px #FF1616, 3px 3px 3px #FF1616;
			border-radius: 8px;
			margin: 10px;
			padding: 10px;
		}

		.get-relief  {
			margin-left: 70px;
            margin-top: -5px;
			padding: 9px 12px;
			border-radius: 14px;
			background-color: #FF1616;
			color: white;
			border: none;
			cursor: pointer;
			transition: all 0.3s ease-in-out 0s;
            
		}

		.get-relief:hover {
			background-color: #C4C4C4;
			color: #FF1616;
		}

        @media screen and (max-width: 600px) {
            .topnav a, .signin {
            float: none;
            display: block;
        }

        .navigate_links a {
            position: relative;
            top: 0;
            left: 0;
            transform: none;
        }
    }

.banner{
  background-image:url('Assets/Doctor 1.png');
  height: 100vh;
  /* background-color: rgba(0, 0, 0, 0.6); */
  /* width:80%; */
  background-repeat: no-repeat;
  background-size:100% 70%;
  margin-bottom: 20px;
  margin-top:20px;
  /* text-align:center; */
  position: relative;
  
}

.align-items-left{
  position: absolute;
  bottom: 8px;
  left: 30px;
  padding-left:50px;
  text-align:center;
  margin-top:50px;
}

.how-it{
    color:white;
    background-color:#FF1616;
    padding:13px 35px 13px 35px;
    border-radius:50px;
}

.section2{
    position: relative;
    text-align:center;
    margin-bottom:20px;
    margin-right:auto;
    margin-left:auto;
}

div.section2 h2 p button{
    position: absolute;
    text-align:center;
}

.section2 h2{
    color: #FF1616;
    font-size:24px;
    font-weight:600;
}

.section2 P{
    color:#1564FF;
    font-size:16px;
    font-weight:400;
}

.section2 button{
    font-size:18px;
    font-weight:600;
    padding: 13px 35px;
	border-radius: 150px;
	background-color: #FF1616;
	color: white;
	border: none;
	cursor: pointer;
	transition: all 0.3s ease-in-out 0s;
}

.section3{
    margin-bottom:50px;
    padding: 30px 0px 40px 0px;

}

.section3 h4{
    margin-bottom:30px;
    color:#FF1616;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 57px;
    text-align:left;
    padding-left:40px;
}

.section3 p{
    color:white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 57px;
    padding: 91px 56px;
    background-color:#1564FF;
    text-align:center;
    margin-left:20px;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap:10px;
    padding:91px 56px !important;
    height:300px;
    /* align-items:center; */
}



.footer{
    background-color:#FF1616;
    color:white;
    padding: 70px;

}

.footer ul{
    list-style: none;
    padding-left:0;
}

.footer a{
    text-decoration:none;
    color:white;
}

.nav__ul{
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: justify;

}

.inputfield{
    width: 100%;
}

.social-media{
    margin:0px auto 0 auto;
    display: flex;
    align-items: left;
    justify-items: left;
}

.social_footer_ul a{
    /* float:left; */
    border:1px solid #CCC;
    padding:8px;
    border-radius:50%;
    border-color:white;
    background-color:white;
}

.social_footer_ul li i { 
    width:20px; 
    height:20px; 
    text-align:center;
    color:#FF1616;

}

.social_footer_ul li { 
    padding-left:20px;
    padding-top:10px; 
    float:left; }
